# {{ ansible_managed }}
{% set user_map = nginx_auth_users | items2dict(key_name='name', value_name='password') -%}
{% for u in item.users | unique | sort -%}
{%   set h = user_map.get(u) -%}
{%   if h is not none and h | string | length > 0 -%}
{{ u }}:{{ h }}
{%   endif -%}
{% endfor -%}
