# {{ ansible_managed }}

geo $limit_ip {
  default 1;
{% for ip in nginx_http_limit_whitelist_cidrs %}
  {{ ip }} 0;
{% endfor %}
}

{% set ns = namespace(prev='$binary_remote_addr') %}
{% for header in nginx_http_limit_whitelist_headers %}
{%   set map_var = 'limit_header' if (nginx_http_limit_whitelist_headers | length) == 1 else 'limit_hdr_' ~ loop.index %}
map $http_{{ header.name | lower | replace('-', '_') }} ${{ map_var }} {
  default {{ ns.prev }};
{%   for value in (header['values'] | default([])) %}
  {{ value }} "";
{%   endfor %}
}
{%   set ns.prev = '$' ~ map_var %}
{% endfor %}

map $limit_ip $limit_key {
  0 "";
  1 {{ ns.prev }};
}

{% for z in nginx_http_limit_zones %}
limit_req_zone $limit_key zone={{ z.name }}:{{ z.size }} rate={{ z.rate }};
{% endfor %}
